@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --color-green: #38af90;
  --color-white: #ffffff;
  --color-light-gray: #797979;
  --color-low-gray: #f0f0f0;
  --color-dark-gray: #383838;
  --color-red: #dd7e92;
  --color-down-gray: #c4c4c4;
  --color-low-white: #e5e5e5;
  --color-red-border: #dd7e92;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  color: var(--color-light-gray);
  display: flex;
}

.nav-items-header {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.nav-items-header ul {
  visibility: hidden;
  font-size: 14px;
  color: var(--color-white);
  list-style: none;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: fixed;
}

.nav-items-header a {
  margin-right: 29px;
}

#section {
  display: flex;
  height: 90px;
  background-color: var(--color-green);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  position: fixed;
}

#generic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container-header {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  font-size: 1.125rem;
  color: var(--color-white);
}

h2 {
  font-size: 1.5rem;
  color: var(--color-light-gray);
  text-align: center;
  padding-bottom: 8px;
}

section h2 {
  padding-top: 40px;
  margin-bottom: 37px;
}

#container-news {
  padding: 16px 13px 12px 12px;
  font-size: 10px;
  background-color: var(--color-low-white);
  margin: 0 10px 28px 10px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: calc(100% - 20px);
}

h3 {
  color: var(--color-green);
  text-align: start;
  font-size: 1.125rem;
}

.subtittles p {
  font-weight: bold;
  margin: 3px 0;
  border-bottom: #38af90 solid 2px;
}

section {
padding-top: 90px;
}

.news-date {
  height: 15px;
  color: var(--color-green);
  margin-bottom: 12px;
}

.read-more {
  color: var(--color-red);
  font-weight: bold;
  font-size: 0.875rem;
  margin-top: 20px;
}

.more-news {
  background-color: var(--color-red);
  font-size: 1.125rem;
  font-weight: bold;
  height: 67px;
  width: 244px;
  color: var(--color-white);
  border-radius: 8px;
}

#games {
  width: 100%;
}

#generic-section-games {
  background-color: var(--color-low-gray);
  padding: 0px 0px 2px 0px;
  flex-wrap: wrap;
  width: 100%;
}

.games {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.img-games {
  width: calc(100%);
  max-width: 380px;
}

#generic-section-games img {
  padding: 0;
  display: flex;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 8px 8px 0 0;
}

#generic-section-games h2 {
  color: var(--color-green);

}

.games-description {
  background-color: var(--color-white);
  border: 0;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 8px 8px;
  margin: 0 14px 28px 14px;
}

.games-description h3 {
  color: var(--color-light-gray);
  padding-top: 27.46px;
}

.by-company {
  color: var(--color-green);
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding-right: 3px;
}

.by-company p {
  font-size: 10px;
  color: var(--color-light-gray);
}

.container-by-company {
  margin: 0;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.evaluation {
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--color-green);
  margin: 13px 0 15px 0;
}

.user-data {
  display: flex;
  background-color: var(--color-low-gray);
  margin: 22px 10px 33px 10px;
  border-radius: 8px;
}

.user-data input {
  border-radius: 4px;
  border: var(--color-light-gray) solid 1px;
  padding: 10px;
}

input::placeholder {
  font-size: 1rem;
  color: var(--color-down-gray);
  background-color: var(--color-white);
  padding-left: 22px;
  border-radius: 8px;
}

.generic-section-form {
  width: 100%;
  max-width: 990px;
  box-shadow: 0px -1px 6px 1px rgb(0, 0, 0, 0.25);
  border-radius: 8px;
}

.container-options, .ctrl-platform {
  margin-top: 20px;
}

.input, .send {
  width: 280px;
  height: 50px;
  display: flex;
  margin-top: 20px;
}

.div-send {
  margin: 0 auto;
}

.div-send input {
  border: var(--color-red-border) solid 2px;
}

.div-send .send {
  background-color: var(--color-red);
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--color-white);
  height: 67px;
  width: 244px;
  border-radius: 8px;
}

.container-options .div-check {
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.check,
.email-marketing input {
  width: 23px;
  height: 23px;
  margin-right: 7px;
}

.email-marketing {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 28px 0 27px 0;
}

#ctrl-name-reset {
  background-color: var(--color-white);
  color: var(--color-red);
}

footer {
  height: 302px;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  display: flex;
}

.about {
  margin: 28px 0 9px 0;
}

footer a,
a:hover {
  text-decoration: unset;
  color: unset;
  cursor: pointer;
}

@media (min-width: 576px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  .subtittles p {
    font-size: 14px;
  }

  header a,
  a:hover {
    text-decoration: unset;
    color: unset;
    cursor: pointer;
  }

  .nav-items-header ul {
    visibility: visible;
    position: relative;
  }

  #container-news {
    margin: 0 10px 28px 10px;
    width: calc(100% - 20px);
    max-width: 576px;

  }

  #generic-container .more-news {
    width: 244px;
  }

  #sign-up h2 {
    margin-top: unset;
  }
  .user-data {
    align-items: flex-start;
  }

  .generic-section-form {
    width: calc(100% - 20px);
    margin: 0 auto;
    max-width: 576px;
  }

  #generic-container {
    width: calc(100% - 10px);
  }

  .div-input,
  .input {
    width: calc(100% - 10px);
  }

  .div-send {
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .div-send input {
    width: calc(100% - 20px);
    margin: 10px;
  }

  footer {
    margin-top: 40px;
  }

  footer #generic-container {
    display: flex;
    flex-direction: row;
  }

  #generic-container .about,
  a {
    display: flex;
    flex-direction: column;
  }

  #generic-container .about,
  p {
    display: inline;
    flex-direction: column;
    text-align: center;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
  }

  #generic-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 36px;
    }

    h3 {
      font-size: 24px;
    }

    .subtittles p {
      font-size: 16px;
    }

    .nav-items-header ul {
      visibility: visible;
      position: relative;
    }

    #container-news {
      margin: 20px 10px 28px 20px;
      width: calc(100% - 20px);
      max-width: 990px;
    }

    #container-news {
      padding: 26px 40px 22px 40px; 
    }

    #generic-container .more-news {
      width: 244px;
    }

    .more-news {
      margin-top: 20px;
    }

    #generic-section-games {
      padding-bottom: 30px;
    }
    .img-games {
      width: calc(100%);
      max-width: 320px;
    }

    .generic-section-form {
      width: calc(100% - 20px);
      border-radius: unset;
      box-shadow: none;
      max-width: 100%;
    }
    form {
      padding: 30px 74px 0 74px;
    }

    #generic-container {
      justify-content: center;
      width: calc(100%);
    }

    .user-data {
      width: 100%;
      max-width: 790px;
      margin: 0 auto;
    }

    .div-send {
      padding: 40px;
      margin: 0;
    }

    footer {
      height: 190px;
    }

    .privacity {
      display: block;
    }
  }
}
